header { 
    text-align: center;
    background-color: rgb(99, 112, 116);
    color: #fff;
}

ul { 
    padding: 0;
}

li {
    list-style: none;
    background-color: azure;
    font-size: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(197, 197, 197);
}

#container {
    display: flex;
}

#cityDisplay {
    background-color: cadetblue;
}

.list-group {
    margin-top: 10px;
}

#side-bar {
    padding: 0 12px 0 12px;
    margin-left: 20px;
    width: 300px;
    background-color: bisque;
}

#main-content {
    margin:0 20px 0 20px;
    background-color: cadetblue;
}

.cityNameContainer {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
}

.uvContainer {
    margin-top: 0;
    display: flex;
    flex-direction: row;
}

.uvLevelLow {
    margin-left: 3px;
    background-color: greenyellow;
}

.uvLevelModerate {
    margin-left: 3px;
    background-color: orange;
}

.uvLevelHigh {
    margin-left: 3px;
    background-color: red;
}

#forcast {
    display: flex;
}

.forcastDay {
    font-weight: bold;
}

.forcastBox {
    margin: 0 10px 0 10px;
    padding: 5px;
    border-radius: 5%;
    background-color: aquamarine;
}